  body {
    margin: 0;
    padding: 0;
    background-color: #222831;
    font-family: monospace;
  }

  #header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #393E46;
    color: #DFD0B8;
  }

  #header i {
    margin-right: 0.28rem;
  }

  #header div {
    display: flex;
    align-items: center;
  }
  
  #header a {
    text-decoration: none;
    color: #DFD0B8;
    font-size: 1rem;
  }

  .countdown-container {
    text-align: center;
    margin-top: 50px;
  }

  .countdown {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .countdown-display {
    font-size: 24px;
    font-weight: bold;
  }
  
  .countdown-buttons {
    display: flex;
  }

  #add-countdown {
    width: 200px;
    margin-bottom: 2.7rem;
  }

  .content {
    width: 100%;
    padding-bottom: 1rem;
    margin-bottom: 2.7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #948979;
  }
  
  .countdown-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }

  button {
    width: 150px;
    padding: 0.7rem;
    background-color: #948979;
    border-radius: 2rem;
    color: #DFD0B8;
    font-family: monospace;
    font-size: 1rem;
    margin: 0.5rem;
    border: none;
    border: 1px solid #DFD0B8;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28%;
    height: 28px;
    color: #948979;
    background-color: #DFD0B8;
    border-radius: 2rem;
    padding: 0.7rem;
    margin: 1rem;
    border: 1px solid #948979;
    font-size: 2.8rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }

  @media (max-width:1024px) {
    .countdown-buttons {
      display: flex;
      flex-direction: column;
    }
    span {
      width: 100%;
      height: 200px;
    }
  }
